
    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">We have a few tips for you.</h4>
          <h2>The Blog<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="blog-post">

                
               
                 
                  <div class="post-body">
                    <h3 class="serif"><a href="#"><%= blogs.title %> </a></h3>
                    <hr>
                    <p class="serif"> <%= blogs.dec %> </p>
                  </div>

                

            </div>
          </div>
        </div>
        <!-- end of container-->
      </div>
    </section>